# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Jetbrains
.idea/
test/

# local
_test_luis
_test_luis/*
__pycache__/*
*pyc

# deploy
deploy_baylor.sh
deployScriptsBaylor.sh
.rsync-ignore
resultadoRsync.txt
